<launch>

    <node name="controller" pkg="pid" type="controller" ns="pitch" output="screen" >
      	<param name="node_name" value="pitch_pid" />
      	<param name="Kp" value="5.0" />
      	<param name="Ki" value="0.0" />
      	<param name="Kd" value="0.1" />
      	<param name="upper_limit" value="500" />
      	<param name="lower_limit" value="-500" />
      	<param name="windup_limit" value="10" />
      	<param name="max_loop_frequency" value="100.0" />
      	<param name="min_loop_frequency" value="100.0" />
      	<remap from="setpoint" to="/setpoint" />
        <remap from="state" to="/rov/sensor/pitch" />
	<remap from="control_effort" to="/controller/pid/pitch" />
     </node>

    <node name="controller" pkg="pid" type="controller" ns="roll" output="screen" >
      	<param name="node_name" value="roll_pid" />
      	<param name="Kp" value="5.0" />
      	<param name="Ki" value="0.0" />
      	<param name="Kd" value="0.1" />
      	<param name="upper_limit" value="500" />
      	<param name="lower_limit" value="-500" />
      	<param name="windup_limit" value="10" />
      	<param name="max_loop_frequency" value="100.0" />
      	<param name="min_loop_frequency" value="100.0" />
	<remap from="setpoint" to="/setpoint" />
        <remap from="state" to="/rov/sensor/roll" />
        <remap from="control_effort" to="/controller/pid/roll" />
     </node>

    <node name="controller" pkg="pid" type="controller" ns="roll" output="screen" >
      	<param name="node_name" value="roll_pid" />
      	<param name="Kp" value="5.0" />
      	<param name="Ki" value="0.0" />
      	<param name="Kd" value="0.1" />
      	<param name="upper_limit" value="500" />
      	<param name="lower_limit" value="-500" />
      	<param name="windup_limit" value="10" />
      	<param name="max_loop_frequency" value="100.0" />
      	<param name="min_loop_frequency" value="100.0" />
	<remap from="setpoint" to="/setpoint" />
        <remap from="state" to="/rov/sensor/roll" />
        <remap from="control_effort" to="/controller/pid/yaw" />
     </node>


 </launch>
